In [5]:
import pandas as pd
houses = pd.read_csv("../data/kc_house_data.csv")
titanic = pd.read_csv("../data/titanic.csv")
netflix = pd.read_csv("../data/netflix_titles.csv", sep="|", index_col=0)
btc = pd.read_csv("../data/coin_Bitcoin.csv")
countries = pd.read_csv("../data/world-happiness-report-2021.csv", index_col="Country name")

In [6]:
# btc.drop(labels=["Sno","Symbol","Name"], axis="columns", inplace=True)
btc.drop(columns=["SNo","Symbol","Name"], inplace=True)

In [7]:
countries.drop(labels="Denmark", axis="index")

,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
Country name,,,,,,,,,,,,,,,,,,,
Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
Norway,Western Europe,7.392,0.035,7.462,7.323,11.053,0.954,73.300,0.960,0.093,0.270,2.43,1.543,1.108,0.782,0.703,0.249,0.427,2.580
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [8]:
countries.drop(countries.index[0:3])

,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
Country name,,,,,,,,,,,,,,,,,,,
Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
Norway,Western Europe,7.392,0.035,7.462,7.323,11.053,0.954,73.300,0.960,0.093,0.270,2.43,1.543,1.108,0.782,0.703,0.249,0.427,2.580
Sweden,Western Europe,7.363,0.036,7.433,7.293,10.867,0.934,72.700,0.945,0.086,0.237,2.43,1.478,1.062,0.763,0.685,0.244,0.448,2.683
Luxembourg,Western Europe,7.324,0.037,7.396,7.252,11.647,0.908,72.600,0.907,-0.034,0.386,2.43,1.751,1.003,0.760,0.639,0.166,0.353,2.653
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [9]:
titanic["species"] = "human"

In [10]:
titanic["species"]

0       human
1       human
2       human
3       human
4       human
        ...
1304    human
1305    human
1306    human
1307    human
1308    human
Name: species, Length: 1309, dtype: object

In [11]:
houses.insert(0, "county", "King County")

In [12]:
houses.head(4)

,county,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,King County,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,King County,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,King County,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,King County,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000

In [13]:
titanic.drop(columns="species")

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,?,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.55,C22 C26,S,11,?,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.55,C22 C26,S,?,135,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.55,C22 C26,S,?,?,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,?,C,?,328,?
1305,3,0,"Zabour, Miss. Thamine",female,?,1,0,2665,14.4542,?,C,?,?,?
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.225,?,C,?,304,?
1307,3,0,"Zakarian, Mr. Ortin",male,27,0,0,2670,7.225,?,C,?,?,?
1308,3,0,"Zimmerman, Mr. Leo",male,29,0,0,315082,7.875,?,S,?,?,?

In [14]:
titanic.insert(7, "relatives", titanic["sibsp"] + titanic["parch"])

In [15]:
survived = titanic["survived"] == 1
titanic[survived].sort_values("relatives", ascending=False)

,pclass,survived,name,sex,age,sibsp,parch,relatives,ticket,fare,cabin,embarked,boat,body,home.dest,species
641,3,1,"Asplund, Master. Edvin Rojj Felix",male,3,4,2,6,347077,31.3875,?,S,15,?,"Sweden Worcester, MA",human
625,3,1,"Andersson, Miss. Erna Alexandra",female,17,4,2,6,3101281,7.925,?,S,D,?,"Ruotsinphyhtaa, Finland New York, NY",human
646,3,1,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38,1,5,6,347077,31.3875,?,S,15,?,"Sweden Worcester, MA",human
643,3,1,"Asplund, Miss. Lillian Gertrud",female,5,4,2,6,347077,31.3875,?,S,15,?,"Sweden Worcester, MA",human
111,1,1,"Fortune, Miss. Alice Elizabeth",female,24,3,2,5,19950,263,C23 C25 C27,S,10,?,"Winnipeg, MB",human
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
597,2,1,"Williams, Mr. Charles Eugene",male,?,0,0,0,244373,13,?,S,14,?,"Harrow, England",human
598,2,1,"Wright, Miss. Marion",female,26,0,0,0,220844,13.5,?,S,9,?,"Yoevil, England / Cottage Grove, OR",human
604,3,1,"Abelseth, Miss. Karen Marie",female,16,0,0,0,348125,7.65,?,S,16,?,"Norway Los Angeles, CA",human
605,3,1,"Abelseth, Mr. Olaus Jorgensen",male,25,0,0,0,348122,7.65,F G63,S,A,?,"Perkins County, SD",human
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,0,24160,211.3375,B5,S,2,?,"St Louis, MO",human

In [16]:
solo_passengers = titanic["relatives"] == 0
titanic[solo_passengers]["pclass"].value_counts()

3    472
1    160
2    158
Name: pclass, dtype: int64

In [17]:
price_per_foot = houses["price"] / houses["sqft_living"]
houses["price_sqft"] = price_per_foot

In [18]:
houses.price_sqft

0        188.050847
1        209.338521
2        233.766234
3        308.163265
4        303.571429
            ...
21608    235.294118
21609    173.160173
21610    394.216667
21611    250.000000
21612    318.627451
Name: price_sqft, Length: 21613, dtype: float64

In [19]:
houses.sort_values("price_sqft", ascending=False)

,county,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price_sqft
19336,King County,6021500970,20150407T000000,874950.0,2,1.00,1080,4000,1.0,0,...,1080,0,1940,0,98117,47.6902,-122.387,1530,4240,810.138889
4013,King County,724069059,20140509T000000,2400000.0,3,2.25,3000,11665,1.5,1,...,3000,0,2001,0,98075,47.5884,-122.086,3000,15959,800.000000
10446,King County,1118000320,20150508T000000,3400000.0,4,4.00,4260,11765,2.0,0,...,3280,980,1939,2010,98112,47.6380,-122.288,4260,10408,798.122066
8623,King County,6303400395,20150130T000000,325000.0,1,0.75,410,8636,1.0,0,...,410,0,1953,0,98146,47.5077,-122.357,1190,8636,792.682927
9314,King County,4389200610,20141201T000000,903000.0,2,1.50,1140,7800,1.0,0,...,1140,0,1947,0,98004,47.6142,-122.209,2020,7800,792.105263
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1385,King County,3342700465,20150123T000000,250000.0,3,1.50,2840,10182,1.0,0,...,1510,1330,1951,0,98056,47.5240,-122.200,2210,9669,88.028169
17197,King County,5111400086,20140512T000000,110000.0,3,1.00,1250,53143,1.0,0,...,1250,0,1945,0,98038,47.4235,-122.051,1820,217800,88.000000
13825,King County,5637200450,20141017T000000,257000.0,5,2.75,2930,10148,2.0,0,...,2930,0,2002,0,98059,47.4887,-122.145,2930,8425,87.713311
3785,King County,723049156,20140523T000000,149000.0,3,1.00,1700,8645,1.0,0,...,1700,0,1955,0,98146,47.4899,-122.337,1500,7980,87.647059
18262,King County,2891000610,20141211T000000,148900.0,4,1.75,1700,6000,1.0,0,...,1700,0,1967,0,98002,47.3252,-122.208,1280,6000,87.588235

In [20]:
mapper = {"Regional indicator" : "regional_indicator", "Ladder score" : "ladder_score"}
countries.rename(columns=mapper, inplace=True )

,regional_indicator,ladder_score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
Country name,,,,,,,,,,,,,,,,,,,
Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.000,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.700,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.400,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.000,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.400,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Lesotho,Sub-Saharan Africa,3.512,0.120,3.748,3.276,7.926,0.787,48.700,0.715,-0.131,0.915,2.43,0.451,0.731,0.007,0.405,0.103,0.015,1.800
Botswana,Sub-Saharan Africa,3.467,0.074,3.611,3.322,9.782,0.784,59.269,0.824,-0.246,0.801,2.43,1.099,0.724,0.340,0.539,0.027,0.088,0.648
Rwanda,Sub-Saharan Africa,3.415,0.068,3.548,3.282,7.676,0.552,61.400,0.897,0.061,0.167,2.43,0.364,0.202,0.407,0.627,0.227,0.493,1.095
Zimbabwe,Sub-Saharan Africa,3.145,0.058,3.259,3.030,7.943,0.750,56.201,0.677,-0.047,0.821,2.43,0.457,0.649,0.243,0.359,0.157,0.075,1.205
Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895

In [ ]:
mapper = {"Denmark" : "denmark", "Finland":"finland"}
countries.rename(index=mapper)